<p>{{ product.metafields.custom.plp_callout }}</p>

{% schema %}
{
    "name": "t:names.product_callout",
    "settings": [
        {
        "type": "product",
        "id": "product",
        "label": "t:settings.product"
      },
    ],
}
{% endschema %}