<p>{{ product.metafields.custom.plp_callout }}</p>

{% schema %}
{
    "name": "t:names.product_callout",
    "settings": [
        {
            "id": "metafield_text",
            "type": "text",
            "label": "metafield text"
        }
    ]
}
{% endschema %}