<p>{{ product.metafields.custom.plp_callout }}</p>

{% schema %}
{
    "name": "t:names.product_callout",
    "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:settings.product"
        },
        {
          "type": "header",
          "content": "t:content.field"
        },
        {
          "type": "select",
          "id": "dynamic_option",
          "label": "Select an option",
          "options": [
            {
              "value": "{{ product.metafields.custom.plp_callout }}", "label": "plp callout"
            }
          ]
        },
        {
          "type": "text",
          "id": "default_text",
          "label": "Default",
          "default": "''",
        }
    ],
    "presets": [
    {
      "name": "t:names.product_callout",
      "category": "t:categories.product",
      "settings": {
        "product": "{{ closest.product }}"
      }
    }
  ]
}
{% endschema %}