<p>hi</p>

{% schema %}
{
    "name": "t:names.product_callout",
    "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:settings.product"
        },
    ],
    "presets": [
    {
      "name": "t:names.product_callout",
      "category": "t:categories.product",
      "settings": {
        "product": "{{ closest.product }}"
      }
    }
  ]
}
{% endschema %}